{% extends 'main.html' %}

{% block content %}
{% if page == 'login' %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST" action="">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username"/>
        <label for="password">Password</label>
        <input type="password" name="password"/>
        <input type="submit" value="Login">
    </form>
    <p>haven't signed up yet?</p>
    <p><a href="{% url 'register' %}">Sign up</a></p>
    {% else %}
    <form method='POST' action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register"/>
    </form>
    <p>already a user?</p>
    <p><a href="{% url 'login' %}">Login</a></p>
{% endif %}
{% endblock content %}